doctype html
html
  head
    title Mohit Dance Academy
    block scripts
    block style
      
  body
    nav#navbar
            ul
                div#logo
                    img(src="/static/img/logo.png")
                    | MDA 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact US]
    block content
    footer#footer
        | Copyright © 2020 MohitDanceAcademy.com | All rights reserved   